.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-slider {
  position: relative;
  display: flex;
}
.carousel-button {
  top: 50% !important;
  position: absolute !important;

  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
  &:hover {
    transition: all 0.3s ease-in-out;
    color: greenyellow;

    opacity: 1 !important;
  }
}
.carousel-img {
  width: 560px;
  max-height: 560px;
  min-height: 400px;
}
