.bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 3px rgb(119, 119, 119);
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.logo {
  height: 100%;
  cursor: pointer;
}
a {
  color: gray;
}

.link-button {
  width: 40px;
  padding: 10px;
  display: flex;
}

//search bar
.custom-search {
  position: absolute;
  right: 20px;
  top: 1px;
}
#express-form-typeahead {
  background-color: transparent;
  background-image: url(../image/search.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  width: 0;
}
#express-form-typeahead:focus {
  background-color: #fff;
  border: 3px solid #90ee87;

  border-radius: 5px;
  cursor: text;
  outline: 0;
  width: 230px;
}
.search-btn {
  // display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
